@import '../../Variables.css';
.zapatillaCard__image {
    width: 100%;
}
.zapatillaCard {
    width: 100%;
}
.zapatillaCard__link {
    width: 100%;
    text-decoration: none;
    font-size: .9rem;
    color: var(--colorText1);
}
.zapatillaCard__link h3 {
    text-transform: uppercase;
    font-size: 1rem;
}
.price_container {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}
.price_container span {
    margin: auto 0;
}
@media (max-width: 940px) {
    .zapatillaCard {
        /* height: 150px; */
        width: auto;
    }
    .zapatillaCard__link {
        display: flex;
        background: white;
    }
    .zapatillaCard__image--contianer {
        width: 350px;
        /* margin-right: 30px; */
        display: grid;
    place-content: center;
    }
    .zapatillaCard__image {
        width: 100%;
        padding: 15px;
    }
    .info_container_responsive {
        padding: 10px;
        margin: 10px;
    }
}