@import '../../Variables.css';

.marcaActive {
    display: none;
    cursor: pointer;
}
.categoryActive {
    display: none;
    cursor: pointer;
}
.generosActive {
    display: none;
    cursor: pointer;
}

.marcas__list {
    list-style: none;
    padding: initial;
    margin-left: 20px;
    
}
.list {
    color: var(--colorText1);
    font-weight: var(--fontWeightButton);
    cursor: pointer;
    padding: 20px 0px;
}
.text_list {
    display: flex;
    justify-content: space-around;
    height: 60px;
}
.arrow {
    margin: auto;
    /* width: 30px; */
    color: red;
    /* font-size: 18px; */
}
.text_list__name {
    width: 220px;
}
.activeArrow {
    display: none;
}
.marcas_list__container {
    list-style: none;
}
.marca_list{
    padding: 10px 0px;
    text-transform: uppercase;
    font-weight: 600;
}
.genero_list {
    padding: 5px 0px;
    /* color: black; */
    font-weight: 500;

}
.checkbox {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.pruebita {
    /* display: grid; */
    /* grid-template-rows: 20% 80%;     */
    /* background-color:  red; */
    height: 100%;
}