@import '../../Variables.css';
.navbar_cart {
    width: 100%;
    height: 57px;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* .activeNavbarCart {
    width: 100%;
    height: 57px;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
} */
/* .disabledNavbarCart {
    display: none;
} */