@import "../../Variables.css";
.product_cart__container {
  display: flex;
  justify-content: center;
}
.cart {
  min-height: calc(100vh - 150px);
}
.title_cart {
  margin-left: 70px;
  opacity: 0.7;
}
.title_cart p {
  font-size: 0.9rem;
  font-weight: 600;
}
.product_cart {
  list-style: none;
  padding: initial;
  margin: 0 20px;
}
.cart__container {
  border: 1px solid var(--colorText);
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 0 10px 0;
  background-color: var(--white);
}
.cart_product__deletec--container {
  display: flex;
  justify-content: end;
}
.icon_delete {
  display: flex;
  color: var(--colorText1);
  font-size: 0.8rem;
  opacity: 0.8;
}
.cart_product__delete {
  color: var(--colorText1);
  display: flex;
  justify-content: end;
  font-weight: 600;
  cursor: pointer;
  background-color: #ffffff00;
  border: none;
}
.cart_product__delete p {
  margin: 0 5px;
  text-decoration: underline;
}
.product {
  display: flex;
  height: auto;
  max-width: 800px;
  justify-content: space-between;
}
.product img {
  width: 100px;
  height: 100px;
}
.title {
  margin: auto 10px;
  max-width: 230px;
}
.title p {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: initial;
  padding: initial;
  color: var(--colorText1);
}
.title h2 {
  color: var(--colorText1);
  margin: initial;
  font-size: 1rem;
}
.price {
  max-width: 200px;
  margin: auto 10px;
  /* padding-top: 35px; */
  color: var(--colorText1);
  line-height: 20px;
}
.price span {
  font-weight: 600;
  font-size: 0.9rem;
  margin-right: 10px;
}
.price p {
  margin: initial;
  padding: initial;
}
.counterCart {
  max-width: 120px;
  display: flex;
  height: 48px;
  border: 1px solid var(--backgroundColor);
  border-radius: 10px;
  overflow: hidden;
  margin: auto 10px;
}
.counter__container {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
.counterCart input {
  width: 40px;
  padding: initial;
  height: 100%;
  text-align: center;
  outline: none;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid var(--backgroundColor);
  border-left: 1px solid var(--backgroundColor);
  background-color: #ffffff00;
  color: var(--backgroundColor);
}
.counterCart button {
  background-color: var(--white);
  width: 40px;
  height: 100%;
  outline: none;
  border: none;
  color: var(--backgroundColor);
  cursor: pointer;
  font-size: 1.6rem;
}
.sumary-template-holder {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--colorText);
  max-height: 300px;
  overflow: hidden;
}
.sumary-template-holder h4 {
  background-color: var(--colorText1);
  color: var(--white);
  margin: initial;
  height: 50px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--colorText);
  padding: 0 15px;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--colorText1);
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--colorText);
  border-bottom: 1px solid var(--colorText);
  padding: 0 15px;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--colorText1);
}
.order_button {
  outline: none;
  border: none;
  background-color: var(--secondaryColor);
  color: var(--white);
  border-radius: 10px;
  width: 100%;
  height: 60px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}
.order_button:hover {
  opacity: 0.8;
}
.details {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
}
.cart_image__container {
  position: relative;
}
.cart_image__container span {
  position: absolute;
  left: -10px;
  top: -10px;
  font-size: 0.8rem;
  display: grid;
  color: var(--white);
  font-weight: 600;
  place-content: center;
  background: #5994ff;
  height: 20px;
  width: 20px;
  /* line-height: 1px; */
  border-radius: 50%;
  margin: auto;
}
.notFound_products__cart {
  display: grid;
  place-content: center;
  color: var(--colorText1);
  font-size: 1.5rem;
  font-weight: 600;
  height: calc(100vh - 130px);
  text-align: center;
}
.info_cart__responsive {
  display: none;
}
.info_product_cart__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.delete_responsive {
  display: none;
}
.template-total-container {
  width: 30%;
}
@media (max-width: 1024px) {
  .product_cart__container {
    /* display: block; */
    display: grid;
    margin: 20px;
    grid-template-columns: minmax(300px, 1fr);
    grid-template-areas:
      "total"
      "products";
  }
  .title_cart {
    margin: 20px;
  }
  .product_cart {
    margin: initial;
  }
  .order_button__container {
    position: fixed;
    bottom: 0;
    /* width: 100%; */
    padding: 10px;
    background: var(--white);
    left: 0;
    right: 0%;
    box-shadow: 8px -6px 15px rgb(0 0 0 / 5%);
  }
  .order_button {
    margin: initial;
  }
  .product_cart {
    grid-area: products;
  }
  .template-total-container {
    grid-area: total;
    margin-bottom: 20px;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .disabled {
    display: none;
  }
  .info_cart__responsive {
    display: block;
  }
}
@media (max-width: 520px) {
  .counter__container {
    display: grid;
    grid-template-areas: "delete counter";
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-bottom: initial;
    margin-top: 5px;
  }
  .info_product_cart__container {
    display: initial;
    /* justify-content: space-between; */
    /* width: 100%; */
  }
  .counterCart {
    margin: initial;
    height: 30px;
    grid-area: counter;
    justify-self: self-end;
  }
  .cart_product__deletec--container {
    display: none;
    grid-area: delete;
  }
  .delete_responsive {
    display: block;
  }
  .icon_delete {
    margin-top: 10px;
  }
  .title_cart {
    font-size: 0.8rem;
  }
}
