@import "../../Variables.css";
.navbar {
  width: 100%;
  background-color: var(--primaryColor);
  height: 57px;
  box-shadow: 8px 8px 15px rgb(0 0 0 / 5%);
}
.disabledNavbar{
  display: none;
}
.navbar__container {
  display: grid;
  grid-template-areas: "brand searchInput button";
  /* grid-template-columns: 20% 60% 20%; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0px 50px; */
}
.search_input__container {
  display: flex;
  position: relative;
}
.search_input__container button {
  background: none;
  border: none;
  position: absolute;
  top: 30px;
  right: 30px;
  color: var(--secondaryColor);
  font-size: 1.4rem;
  cursor: pointer;
}
.brand {
  display: grid;
  grid-area: brand;
  margin-left: 30px;
}
.navbar__buttons {
  display: flex;
  justify-content: flex-start;
  grid-area: button;
  /* height: 45px; */
  font-size: 25px;
  color: var(--secondaryColor);
  font-weight: 500;
  width: 200px;
  /* margin: auto; */

  text-align: center;
}
.icon_navbar__container {
  
  display: inline-grid;
  margin-right: 0px;
  width: 80px;
}
.user {
  display: flex;
  width: fit-content;
  margin: auto;
  cursor: pointer;
}
.icon_navbar_arrow {
  font-size: 15px;
  margin: auto;
  padding-left: 2px;
}
.iconNavbar {
  margin: auto;
  cursor: pointer;
  color: var(--secondaryColor);
}
.letter_name {
  width: 60px;
}
.iconNavbar__name {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  margin: auto;
}
.letter_user {
  background: var(--white);
  font-size: 15px;
  font-weight: 600;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: auto;
  line-height: 30px;
  text-transform: capitalize;
}
.navbar_button {
  display: grid;
  margin-right: 30px;
  height: 45px;
  width: 100px;
  text-align: center;
  /* padding: auto; */
  /* margin: auto; */
  line-height: 38px;
  background-color: #00b0e5;
  border-radius: 5px;
  border: 1px solid var(--primaryColor);
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
}
.navbar_input {
  display: grid;
  grid-area: searchInput;
  min-width: 400px;
  /* width: 700px; */
  width: 100%;
  height: 10px;
  border-radius: 50px;
  border: 1px solid var(--primaryColor);
  padding: 15px 25px 15px 15px;
  color: #aaa;
  margin: 20px;
  outline: 0px;
}
.navbar_input::placeholder {
  opacity: 0.4;
  font-size: 15px;
}
.navbar__brand {
  width: 200px;
}
.user_name {
  font-size: 10px;
}
.menu_user {
  position: relative;
  z-index: 100;
  list-style: none;
  font-size: 15px;
  min-width: 190px;
  background-color: var(--white);
  position: absolute;
  padding: initial;
  top: 57px;
  right: 130px;
  text-align: justify;
  border-radius: 10px;
  overflow: hidden;
  color: #3a3a3a;
}
.menu_user__hello {
  background-color: #d5efef;
  font-size: 16px;
  font-weight: 600;
}
.menu_user li {
  padding: 10px 15px;
}
.menu_user__icon {
  margin-right: 5px;
  font-size: 22px;
}
.cart_icon__container {
  position: relative;
}
.cart_icon__container span {
  text-decoration: none;
  position: absolute;
  background-color: var(--white);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: initial;
  padding: initial;
  right: 20px;
  top:-7px;
  line-height: 23px;
  font-size: 1rem;
}
.menu_user a {
color: var(--colorText1);
  text-decoration: none;
  font-weight: 600;
}
