@media (max-width: 1024px) { 
  .menu_user {
    right: 0;
  }
  .active_responsive {
    display: none;
  }
 }
@media (max-width: 864px) {
  .brand__responsive {
    display: block;
  }
  .navbar__brand {
    display: none;
  }
  .brand {
    width: 70px;
    position: relative;
  }
  .brand img {
    position: absolute;
    top: -33px;
    left: -22px;
  }
}
@media (max-width: 610px) {
  .navbar__buttons {
    padding: initial;
  }
  .iconNavbar__name {
    display: none;
  }
  .icon_navbar__container {
    width: 50px;
  }
  .cart_icon__container span {
    right: 0;
    /* top: 3px; */
  }
  .cart_icon__container {
    top: 3px;
  }
}
/* @media ( max-width: 550px) {
} */
